<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webmaster.end.IMapper.IPasswordMapper">
    <!--  判断该用户的密码是否存在  -->
    <select id="isExist" resultType="boolean">
        select count(*) from passwords where id = #{id}
    </select>

    <!--  添加加密后的数据  -->
    <insert id="addPassword">
        insert into passwords values(#{id},#{salt},#{password})
    </insert>

    <!--  删除密码信息  -->
    <delete id="deletePassword">
        delete from passwords where id = #{id}
    </delete>

    <!--  修改密码  -->
    <update id="updatePassword">
        update passwords set salt = #{salt} , password = #{password} where id = #{id}
    </update>

    <!--  根据用户id来获得对应的密码  -->
    <select id="getPassword" resultType="String">
        select password from passwords where id = #{id}
    </select>

    <!--  根据用户id来获得对应的盐值  -->
    <select id="getSalt" resultType="String">
        select salt from passwords where id = #{id}
    </select>
</mapper>