<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webmaster.end.IMapper.IUserMapper">
    <!-- 根据id查询用户是否存在   -->
    <select id="isExist" resultType="boolean">
        select count(*) from users where id = #{id} and delete_time = '0'
    </select>

    <!-- 根据id查询用户是否存在   -->
    <select id="isExistByCard" resultType="boolean">
        select count(*) from users where card = #{id} and delete_time = '0'
    </select>

    <!-- 根据微博用户名查询用户是否存在   -->
    <select id="isExistWeiboByName" resultType="boolean">
        select count(*) from users where name = #{name} and delete_time = '0' and card like '9999%'
    </select>

    <!-- 根据用户名查询用户是否存在   -->
    <select id="isExistByEmail" resultType="boolean">
        select count(*) from users where email = #{email} and delete_time = '0'
    </select>

    <!-- 根据用户名查询用户是否存在   -->
    <insert id="addUser">
        insert into users (card,name,sex,email,phone,cover,sign_time,identity) values (#{card},#{name},#{sex},#{email},#{phone},#{cover},#{signTime},#{identity})
    </insert>

    <!-- 更新一个用户信息   -->
    <update id="updateUser">
        update users set  name = #{name} , sex = #{sex}  , phone = #{phone} , cover = #{cover}  where id = #{id} and delete_time = '0'
    </update>

    <!-- 根据用户id来返回对应的值   -->
    <select id="getUser" resultType="com.webmaster.end.Entity.User">
        select * from users where id =#{id} and delete_time = '0'
    </select>

    <!-- 返回所有的用户   -->
    <select id="getAllUsers" resultType="com.webmaster.end.Entity.User">
        select * from users where delete_time = '0'
    </select>

    <!-- 根据传入的card号来返回用户对应的id   -->
    <select id="getUserIdByCard" resultType="int">
        select id from users where card = #{card} and delete_time = '0'
    </select>

    <!-- 根据传入的微博name来返回用户对应的name   -->
    <select id="getWeiboUserIdByName" resultType="int">
        select id from users where name =#{name} and delete_time = '0' and card like '9999%'
    </select>

</mapper>